.hero {
  background-color: var(--white);
  font-size: 2rem;
}

.hero h1 {
  font-size: 9rem;
  margin-bottom: 1.2rem;
}

.hero h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.hero p {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.location div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.location span {
  font-size: 3.2rem;
  font-weight: 600;
}

.tree {
  text-align: center;
  position: relative;
  bottom: -20px;
}

.tree img {
  width: 420px;
  height: 388px;
}

@media (min-width: 59rem) {
  .content {
    display: flex;
    flex-direction: row;
  }

  .tree {
    align-self: flex-end;
    min-width: 236px;
    right: 0;
    bottom: -26px;
  }
  .about {
    padding-bottom: 10rem;
  }
}

@media (min-width: 120rem) {
  .hero h1 {
    position: relative;
    right: 150px;
  }
}
