.organizer {
  background-color: var(--white);
}

.organizer h2 {
  font-size: 4rem;
  margin: 1rem 0;
}

.itemContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

@media (min-width: 59rem) {
  .itemContainer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
  }
}
