.item {
  display: flex;
  flex-direction: column;
  color: var(--primary);
  max-width: 150px;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 1.6rem;
}

.email {
  font-size: 1.2rem;
}

.image {
  width: 200px;
  height: 200px;
}

.image img {
  border-radius: 50%;
}
